.SideSheetContainer{
  display: grid;
  width: fit-content;
}

.SideSheet{

  --sidesheet-border-radius : 0px;

  min-width: 250px;
  height: stretch;
  display: grid;
  padding: 20px;
  grid-template-rows: min-content min-content minmax(0,1fr) min-content min-content;
  gap: 15px;

  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 1px 1px 10px rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  border-radius: var(--sidesheet-border-radius);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  grid-column: 1;
  grid-row: 1;
}

.SideSheetHeader{
  padding: 20px;
  border: 1px solid rgb(105, 105, 105 , 0.2);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.SideSheetContent{
  padding: 20px;
  border: 1px solid rgb(105, 105, 105 , 0.2);
}

.SideSheetActionBar{
  padding: 20px;
  border: 1px solid rgb(105, 105, 105 , 0.2);
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.SideSheetExpand{
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  width: 10px;
  margin-left: auto;
  border-top-right-radius: var(--sidesheet-border-radius);
  border-bottom-right-radius: var(--sidesheet-border-radius);
}

.PageControl{

}

.PageControl:hover{
  background-color: royalblue;
}

.PageControl > button{
  border: none;
  background-color: transparent;
  color: initial;
}

.PageControl:hover > button{
  color: white;
}