.SideSheetContainer{
  display: grid;
  width: fit-content;
}

.SideSheet{

  --sidesheet-border-radius : 0px;

  min-width: 250px;
  height: stretch;
  display: grid;
  padding: 20px;
  grid-template-rows: min-content min-content minmax(0,1fr) min-content min-content;
  gap: 15px;

  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 1px 1px 10px rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  border-radius: var(--sidesheet-border-radius);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  grid-column: 1;
  grid-row: 1;
}

.SideSheetExpand{
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  width: 10px;
  margin-left: auto;
  border-top-right-radius: var(--sidesheet-border-radius);
  border-bottom-right-radius: var(--sidesheet-border-radius);
}