.EditorContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 14px;
}

.Editor{
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba( 31, 38, 135, 0.37 );
  overflow: auto;
}

