.MyComponent{
  background-color: red;
  padding: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: stretch;
}

.MyComponent > input{
  text-align: center;
}

.MyComponent > button{
  background-color: royalblue;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}